<app-sidebar></app-sidebar>

<p-card header="Alumno">
  <div class="Tabla">

  <p-table [value]="alumnos" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Category</th>
              <th>Quantity</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-alumn>
          <tr>
              <td>{{ alumn.code }}</td>
              <td>{{ alumn.name }}</td>
              <td>{{ alumn.category }}</td>
              <td>{{ alumn.quantity }}</td>
          </tr>
      </ng-template>
  </p-table>
</div>
 
    </p-card>
